language: node_js
sudo: 'false'
before_script:
  - npm install -g polymer-cli
  - git checkout package-lock.json
  - >-
    npm run format && git diff --exit-code || (echo -e '\n\033[31mERROR:\033[0m
    Project is not formatted. Please run "npm run format".' && false)
env:
  global:
    - secure: >-
        jPadfZlN/LPUBe/pRxk3nW2sZ9pxebBOYS6oKhnXUEIpZtOyFBBpPYqFHuVJWxCT5ybA/rIosthogb4ZosczXASbnZShbNmuUmkpNAlZIdOWe9j1MnO0h2lQMbhx1aY1W4NphwDoaKU5TwCUskrnUw9vGg6hyXcJaLmo+y9PIkHFCzv8Te1nIMXEAo6q9xlYyL9pTtZ7E9Z8NQg4TkE7rXwLYWTpBVKdK0WsDSuSPX3bSQEIVNIHmsCS+LkDBCjQR82gloQPTKgQfCCH7Sb+kfMk8MqNvJrPraVOieWkq6BFVHz8Da20x8kVVjg2/p09eQ9SqHmQLADQcyiQXKjWU5kwwf6dDb04wnLSXBW9vqAWTPoQaoQpX6Ek3OwD8Pf1OscXBFA89x8C+HNSwis5cUrscnGuWpLFlX2zIIdMNAFg6UH/YJAMQG7/0hXBqSDq//Qz0WczpibTO7OK692PYfW+Il7NvyCmDAAMErhaaY30kYL68i6E1CAaIqKvfaOKhWMLbQeu11I2w/2kXqaO8fBo3BWFxt8OqsYTiTvcvYWped6rb62bo/R4HGkIoSTFXtht11cXeeAmsgwb7n5Rr/zs8EwP4z8k8U6muoT/fpCb8o1gjFCD1gGvVQO0h0TYaULSVwAa5Z/VzjDRANCqmJ/b3tfzxzuTXt0r8ZEqSeg=
    - secure: >-
        DXKo16zmlS4PIBdjHQACcESa9ycOOdWWhFk1W53HNZvrzIhK9wxP9whUyLqd1Rot0b0DGvnBN1mQn84Layj0r4KToxlkmtX3guFP55TCDUd7vvAJqMhmLjQ2ShZDvFDbcvep6Isa/LwIg/En7Jm13Jd+5/FhHSFJcT0YdHqaHGyxqKx6uKhssmhYqyFaFth+Uj6nAWW29udeUPnF/Lls6iKwdCyz5xJ8MlXF3cLrni4vma4RR1LTreFtzOUkfa+FV14zoGtxVmxeB/FvlsXbsQxWXqHxDDxf1pRzU/fM4IK/Hhg5muN2CbeJQHRtn7jLEgIi954md4pdiwZ2aJUDlLBcuEWFr5IPKC79LZNBGo+GhQPb82ukxOL/WQiNhJZTbCKfP4FHCUJGNqcLTqjFfqxP4YDSGa12z7laf6RM6Y37XKuUrDq8tuz/MZXkOIOwCOTsI/XXXIfGlKygmGS8rmNroXcx5gWxUMjAlzybrUyhBlRLmm85MrdOm4D6AKYFKPWiEcHBLBofp9YK70xZz6T/fBab6OUe8eJ+oYt2FCt9oLsqqkaOZm0x1+nyIsS5HChNo5H5ZjTQsTTP3L1WAfY+I5k0kcuBzMn8SeauoWFG3T2HIZAdto24YXpLtdcYnZ9PadTU9SK0pZEc516CHBvjlB4JtfQ9w/xo2yHQC5M=
node_js: node
addons:
  firefox: latest
  chrome: stable
script:
  - xvfb-run polymer test --module-resolution=node --npm
  - >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test
    --module-resolution=node --npm -s 'default'; fi
dist: trusty
cache:
  directories:
    - node_modules
