:host {
  position: relative;
  display: inline-block;
  background-color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#control {
  color: #757575;
  border-bottom: 1px solid #757575;
}

#control > div {
  padding: 12px 0;
  overflow: hidden;
  /* FIXME not working for some reason */
  white-space: nowrap;
  text-overflow: ellipsis;
}

#arrow {
  margin-left: 12px;
}

#menu::shadow #menu {
  margin: 8px 0;
}
